# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Corpus Annotation from Scratch/*
!/Corpus Annotation from Scratch/task/
/Corpus Annotation from Scratch/task/*
!/Corpus Annotation from Scratch/task/corpus_annotation.py
